/* Start of Mobile/Default Version */
/* https://coolors.co/51a3a3-dac4f7-d33f49-74226c-023436 */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#51a3a3;
}

/* Style the header */ 


/* The grid container */
.grid-container {
  display: grid;
  border:3px solid red;
  grid-template-areas: 
      'header' 
      'left' 
      'right' 
      'footer1'
	    'footer2';
      
}

.header {
  grid-area: header;
  background-color: #dac4f7;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
  
 

.left,
.right,
.header,
.footer1, footer2 {
  
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: rgb(230, 212, 51);
}


/* Style the right column */
.right {
  grid-area: right;
  background-color: #51a3a3;
}

/* Style the footer */
.footer1 {
  grid-area: footer1;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.footer2 {
  grid-area: footer2;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


#question {
  font-size: 2em;
  font-weight:bold;
}


.options {
   font-size:1.5em;
   padding:0.4em;
}

#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);   
}

#message {
    width:80%;
    min-width:400px;
    padding:20px;
    background-color:red;
    color:white;
    text-align:center;
    font-size:4em;
    font-weight:bold;
    /* vertically and horizontally center the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* end of Mobile/Default Version */


/* Desktop Version */
@media (min-width: 768px) {
	
 .grid-container  {
    grid-template-areas: 
      'header header header header' 
      'left left right right' 
      'footer1 footer1 footer2 footer2';
  }

}/* end of Media Query / Desktop Version */
